@model dynamic

@{
    ViewBag.Title = "Dashboard";
    ViewBag.View = "Poll View";
    ViewBag.Explaination = "Choose what you want to do to your polls. If you just created one, a link is provided to the poll for people to vote.";
    //Layout = "_Layout";
}

<h2>title</h2>
