@model dynamic

@{
    ViewBag.Title = "Make a Poll";
    ViewBag.View = "Make Poll Page";
    ViewBag.Explaination = "Make a poll for people to vote on";
    //Layout = "_Layout";
}

<h2>Make-Poll</h2>
